.dashboard-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.dashboard-container-top{
    width: 100%;
    min-height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.dashboard-top-left{
    border: 1px solid black;
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.dashboard-top-right{
    border: 1px solid black;
    width: 40%;
}
.dashboard-container-bottom{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dashboard-bottom-left{
    width:  55%;
    height: 100%;
    border: 1px solid black;
}
.dashboard-bottom-right{
    width:  45%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10px;
}