.form-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
}

.form-description span{
    font-family: "Inter", sans-serif;
     font-weight: 500;
     font-size: 32px;
     line-height: 120%;
     letter-spacing: 1%;
     vertical-align: middle;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-buttons button{
    border-radius: 52px;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 110px;
    font-family: "Inter", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 120%;
     letter-spacing: 0%;
     vertical-align: middle;
     cursor: pointer;
     margin-top: 35px;
     padding: 10px;

}
.action-buttons .save-button{
    background-color: #2F7BFF;
    color: #ffffff;
}

.form-cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.left-form-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
}

.right-form-card{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* display: block; */
}
.info{
    min-height: 49.5%;
}
.info-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.info-box-left{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.info-box-right{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}
.radio-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gender-radio-button{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.group-size .gender-radio-button label{
     font-size: 16px;
}

.login-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */
    width: 100%;
    align-items: center;
    height: 100%;
    /* margin-top: 20px; */
}
.login-input div{
    width: 50%;
    
}

.address-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dist-state{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.additional-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    
}
.additional-info-radio{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.radio-style{
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 5px 15px 5px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.upload-section{
    width: 100%;
    border: 2px dashed #8E8E8E;
    border-radius: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.upload-section span{
    font-size: 14px;
}
.upload-section button{
    border: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 38px;
    cursor: pointer;
}
.selection-dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.selection-dropdowns select{
    background-color: #F1EEFF;
    color: #000000;
    border-radius: 6px;
    padding: 5px 7px;
    width: 50%;
}