.form-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 23px;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.card-header{
     border-bottom: 1px solid #BFBFBF;
     padding-bottom: 10px;
}
.card-header span{
    font-family: "Inter", sans-serif;
     font-weight: 500;
     font-size: 26px;
     line-height: 120%;
     letter-spacing: 1%;
     vertical-align: middle;
     padding-left: 20px;
}

.information-area{
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}